
        /*Postavljanje slike i fonta*/
        body {
            margin: 0;
            padding: 0;
            font-family: 'Century Gothic';
            background-image: url(D.jpg);
            background-size: cover;
        }

        .main {
            float:right;
            list-style-type: none;
            margin-top: 25px;
        }

        .main2 {
            float: left;
            list-style-type: none;
            margin-top: 25px;
        }

        .main  .inputBox {
            display: inline-block;
        }

        .main2 .inputBox {
            display: inline-block;
        }

        /*Posavljanje gumbova bez obruba*/
        .main  a {
            text-decoration: none;
            color: #000000;
            padding: 5px 20px;
            border: 1px solid transparent;
            transition: 0.5s ease;
        }

        /*boja*/
        .main  a:hover {
            background-color: #C0C0C0;
            color: #ffffff;
        }


        /*Centriranje*/
        .box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
           

       /* .inputBox {
            margin: 0 0 20px;
            padding: 0;
            color: #000000;
            text-align: center;
        }*/

        .box .inputBox {
            position: relative;
        }

            .box .inputBox input {
                width: 100%;
                padding: 15px 0;
                font-size: 16px;
                color: #000000;
                margin-bottom: 40px;
                /*Postavljanje obruba*/
                border: none;
                border-bottom: 1px solid #c72323;
                outline: none;
                background: transparent;
            }


        /*postavljanje gumba*/
        .box input[type="submit"] {
            background: transparent;
            border: none;
            outline: none;
            color: #ffffff;
            background: #c72323;
            padding: 6px 12px;
            cursor: pointer;
            border-radius: 10px;
        }

            /*postavljanje boje na gumb*/
            .box input[type="submit"]:hover {
                background-color: #C0C0C0;
            }   
        #content {
            width: 100%;
            height: 100%;
        }